span,h1,p {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    }

span i {
    color: rgb(86, 205, 241);
    border: 2px solid rgb(86, 205, 241);
    border-radius: 50%;
    font-size: 30px;
    padding: 16px 16px;
    font-weight: 600;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    
}
p{
    font-size: 20px;
    font-weight: 10;
}
.nhap {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}
.ok {
    margin-top: 10px;
    background-color:  rgb(86, 205, 241);
    width: 200px;
    height: 60px;
    color: aliceblue;
    border-radius: 5px  ;
    border: 2px solid rgb(86, 205, 241);
   
}
.ok:hover {
   
    background-color: #000;
}


